body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: khaki;
  background-color: white;
}

a {
  color: #00B7FF;
}

img {
  width: 50vm;
  height: 50vm;
}

button {
  font-size: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
}